#tarolo{
    display: flex;
    justify-content: center;
}

#div1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#div2{
    background-color: yellow;
    height: 300px;
    width: 100%;
}

#div3{
    background-color: purple;
    height: 300px;
    width: 100%;
}




#tarolo1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#tarolo2{
    background-color: yellow;
    height: 300px;
    width: 200%;
}

#tarolo3{
    background-color: purple;
    height: 300px;
    width: 100%;
}




#taroloketto{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
    
}

#tritarolo1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#tritarolo2{
    background-color: yellow;
    height: 300px;
    width: 100%;
}


#tritarolo3{
    background-color: purple;
    height: 300px;
    width: 100%;
}



#tarolo3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quadtarolo1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#quadtarolo2{
    background-color: yellow;
    height: 600px;
    width: 100%;
    order: 1;
}


#quadtarolo3{
    background-color: purple;
    height: 300px;
    width: 100%;
}