#tarolo{
    display: flex;
    justify-content: center;
}

#div1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#div2{
    background-color: yellow;
    height: 300px;
    width: 100%;
}

#div3{
    background-color: purple;
    height: 300px;
    width: 100%;
}




#tarolo1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#tarolo2{
    background-color: yellow;
    height: 300px;
    width: 200%;
}

#tarolo3{
    background-color: purple;
    height: 300px;
    width: 100%;
}




#tarolo2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    height: 300px;
    
}

#tritarolo1{
    background-color: green;
    
    /*width: 25%;*/
    flex: 1;
}

#tritarolo2{
    background-color: yellow;
    
    /*width: 50%;*/
    flex: 2;
}


#tritarolo3{
    background-color: purple;
    
    /*width: 25%;*/
    flex: 1;
}



#tarolo3{
    display: flex;
    justify-content: center;
}

#quadtarolo1{
    background-color: green;
    height: 300px;
    width: 100%;
}

#quadtarolo2{
    background-color: yellow;
    height: 300px;
    width: 100%;
}


#quadtarolo3{
    background-color: purple;
    height: 300px;
    width: 100%;
}